VITE_SHEET_API_URL=https://script.google.com/macros/s/AKfycbxXlcvtYcPOCPfZjgG_tg0qSrTqj0Xxo36BIUN_a4A1_yC2Qc6zf3duPUuDSvtLryv8gg/exec
VITE_FACEBOOK_PIXEL_ID=
FB_ACCESS_TOKEN=
FB_TEST_EVENT_CODE=
VITE_ORDER_COOLDOWN_MINUTES=60
VITE_DELIVERY_CHARGE=70
VITE_SYNC_CODE=123456789
VITE_GIFT_ENABLED=true
VITE_HELPLINE_PHONE=01983914915
VITE_OUR_LOCATION= "Ahammed Nagar, Mirpur 1, Dhaka 1216"
VITE_Facebook=https://www.facebook.com/shukriashopbd
VITE_SITE_NAME="Shukria"